# Car Price Prediction
##  Importing Libraries

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

# 1. Scraping data from "Cardekho" Website
### Ahmedabad

In [6]:
driver1=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url1=("https://www.cardekho.com/used-cars")
driver1.get(url1)
driver1.maximize_window()
time.sleep(2)

In [7]:
location_Ahmedabad= driver1.find_element(By.XPATH,"//a[@title='Used cars in Ahmedabad']").click()

In [8]:
# scrolling the web page 
for _ in range(300):
    driver1.execute_script("window.scrollBy(0,100)")

In [9]:
urls = []
for i in range(20):
    for j in driver1.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        urls.append(j.get_attribute('href'))

time.sleep(2)
print(len(urls))

0

In [10]:
#Creating empty list 
Brand= []
Model = []
Variant=[]
Manufacturing_Year = []
Driven_KiloMeters= []
Fuel = []
Location= []
Car_Price= []

#Fetching data for Brand    
try:
    Brand_name=driver1.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name:
        Brand.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand.append('-')

#Fetching data for Model   
try:
    Model_name=driver1.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name:
        Model.append(i.text[5:])
except NoSuchElementException as e:
    Model.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver1.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name:
        Variant.append(i.text)
except NoSuchElementException as e:
    Variant.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver1.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing:
        Manufacturing_Year.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year.append('-') 

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver1.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver1.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name:
        Fuel.append(i.text)
except NoSuchElementException as e:
    Fuel.append('-')

#Fetching data for Location   
try:
    Location_name=driver1.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name:
            Location.append(i.text[13:])
except NoSuchElementException as e:
    Location.append('-')

#Fetching data for Car_Price    
try:
    Car_Pr=driver1.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr:
        Car_Price.append(i.text)
except NoSuchElementException as e:
    Car_Price.append('-')

In [11]:
print(len(Brand),len(Model),len(Variant),len(Manufacturing_Year), len(Driven_KiloMeters), len(Fuel),  len(Location), len(Car_Price))

0 0 0 0 0 0 0 0

In [12]:
Ahmedabad=pd.DataFrame({'Brand':Brand[:20], 'Model':Model[:20], 'Variant':Variant[:20], 'Manufacturing_Year':Manufacturing_Year[:20], 'Driven_KiloMeters':Driven_KiloMeters[:20], 'Fuel':Fuel[:20],  'Location':Location[:20], 'Car_Price':Car_Price[:20]})
Ahmedabad

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Location, Car_Price]
Index: []

In [13]:
driver1.close()

## Bangalore

In [14]:
driver2=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url2=("https://www.cardekho.com/used-cars")
driver2.get(url2)
driver2.maximize_window()
time.sleep(2)

In [15]:
#fetching location
location_Bangalore= driver2.find_element(By.XPATH,"//a[@title='Used cars in Bangalore']").click()

In [16]:
# scrolling the web page
for _ in range(30):
    driver2.execute_script("window.scrollBy(0,1000)")

In [17]:
urls2 = []
for i in range(30):
    for j in driver2.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls2.append(j.get_attribute('href'))

time.sleep(2)

print(len(urls2))

0

In [18]:
#Creating empty list 
Brand2 = []
Model2 = []
Variant2 = []
Manufacturing_Year2 = []
Driven_KiloMeters2 = []
Fuel2 = []
Location2 = []
Car_Price2 = []


#Fetching data for Brand    
try:
    Brand_name2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name2:
        Brand2.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand2.append('-')
    
#Fetching data for Model   
try:
    Model_name2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name2:
        Model2.append(i.text[5:])
except NoSuchElementException as e:
    Model2.append('-')

#Fetching data for Variant   
try:
    Variant_name2=driver2.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name2:
        Variant2.append(i.text)
except NoSuchElementException as e:
    Variant2.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing2:
        Manufacturing_Year2.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year2.append('-') #Creating empty list 
Brand2 = []
Model2 = []
Variant2 = []
Manufacturing_Year2 = []
Driven_KiloMeters2 = []
Fuel2 = []
Location2 = []
Car_Price2 = []


#Fetching data for Brand    
try:
    Brand_name2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name2:
        Brand2.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand2.append('-')
    
#Fetching data for Model   
try:
    Model_name2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name2:
        Model2.append(i.text[5:])
except NoSuchElementException as e:
    Model2.append('-')

#Fetching data for Variant   
try:
    Variant_name2=driver2.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name2:
        Variant2.append(i.text)
except NoSuchElementException as e:
    Variant2.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing2:
        Manufacturing_Year2.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year2.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter2=driver2.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter2:
        Driven_KiloMeters2.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters2.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name2=driver2.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name2:
        Fuel2.append(i.text)
except NoSuchElementException as e:
    Fuel2.append('-')

#Fetching data for Location       
try:
    Location_name2=driver2.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name2:
            Location2.append(i.text[13:])
except NoSuchElementException as e:
    Location2.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr2=driver2.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr2:
        Car_Price2.append(i.text)
except NoSuchElementException as e:
    Car_Price2.append('-')

In [19]:
print(len(Brand2),len(Model2),len(Variant2),len(Manufacturing_Year2), len(Driven_KiloMeters2), len(Fuel2),  len(Location2), len(Car_Price2))

0 0 0 0 0 0 0 0

In [20]:
Bangalore=pd.DataFrame({'Brand':Brand2[:20], 'Model':Model2[:20], 'Variant':Variant2[:20], 'Manufacturing_Year':Manufacturing_Year2[:100], 'Driven_KiloMeters':Driven_KiloMeters2[:20], 'Fuel':Fuel2[:20], 'Location':Location2[:20], 'Car_Price':Car_Price2[:20]})
Bangalore

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Location, Car_Price]
Index: []

In [21]:
driver2.close()

## Delhi NCR

In [25]:
driver3=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url2=("https://www.cardekho.com/used-cars")
driver3.get(url2)
driver3.maximize_window()
time.sleep(2)

In [27]:
location_Delhi= driver3.find_element(By.XPATH,"//a[@title='Used cars in Delhi NCR']").click()

In [28]:
# scrolling the web page to get more images
for _ in range(100):
    driver3.execute_script("window.scrollBy(0,100)")

In [29]:
urls3 = []
for i in range(10):
    for j in driver3.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        urls3.append(j.get_attribute('href'))

time.sleep(2)
print(len(urls3))

200

In [30]:
#Creating empty list 
Brand3= []
Model3 = []
Variant3=[]
Manufacturing_Year3 = []
Driven_KiloMeters3= []
Fuel3 = []
Location3= []
Car_Price3= []

#Fetching data for Brand    
try:
    Brand_name3=driver3.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name3:
        Brand3.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand3.append('-')
    
#Fetching data for Model   
try:
    Model_name3=driver3.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name3:
        Model3.append(i.text[5:])
except NoSuchElementException as e:
    Model3.append('-')

#Fetching data for Variant   
try:
    Variant_name3=driver3.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name3:
        Variant3.append(i.text)
except NoSuchElementException as e:
    Variant3.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing3=driver3.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing3:
        Manufacturing_Year3.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year3.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter3=driver3.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter3:
        Driven_KiloMeters3.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters3.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name3=driver3.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name3:
        Fuel3.append(i.text)
except NoSuchElementException as e:
    Fuel3.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr3=driver3.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr3:
        Car_Price3.append(i.text)
except NoSuchElementException as e:
    Car_Price3.append('-')

In [31]:
print(len(Brand3),len(Model3),len(Variant3),len(Manufacturing_Year3), len(Driven_KiloMeters3), len(Fuel3),  len(Car_Price3))

20 20 20 20 20 20 20

In [32]:
#Fetching data for Location       
try:
    Location_name3=driver3.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (380):
        for i in Location_name3:
            Location3.append(i.text[13:])
except NoSuchElementException as e:
    Location3.append('-')

In [33]:
len(Location3)

380

In [36]:
Delhi=pd.DataFrame({'Brand':Brand3[:380], 'Model':Model3[:380], 'Variant':Variant3[:380], 'Manufacturing_Year':Manufacturing_Year3[:380], 'Driven_KiloMeters':Driven_KiloMeters3[:380], 'Fuel':Fuel3[:380],  'Car_Price':Car_Price3[:380]})
Delhi

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Car_Price
0,Maruti,Maruti Baleno,1.2 Delta,2017,"61,628 kms",Petrol,5.65 Lakh
1,Maruti,Maruti Ciaz,Delta BSIV,2019,"34,474 kms",Petrol,8.17 Lakh
2,Hyundai,Hyundai Venue,SX Plus Turbo DCT BSIV,2019,"26,684 kms",Petrol,10.53 Lakh
3,Maruti,Maruti Celerio,VXI CNG Optional BSIV,2018,"50,969 kms",CNG,5.13 Lakh
4,Maruti,Maruti Baleno,1.2 Delta,2017,"39,781 kms",Petrol,5.96 Lakh
5,Hyundai,Hyundai Creta,1.6 CRDi SX,2019,"66,518 kms",Diesel,11.30 Lakh
6,Maruti,Maruti Ciaz,AT ZXi,2016,"38,387 kms",Petrol,7.53 Lakh
7,Maruti,Maruti Baleno,1.2 Delta,2016,"29,859 kms",Petrol,5.55 Lakh
8,Hyundai,Hyundai i20,1.2 Asta,2017,"58,438 kms",Petrol,6.29 Lakh
9,Toyota,Toyota Etios Liva,1.2 G,2018,"24,250 kms",Petrol,5.25 Lakh
10,Mahindra,Mahindra Thar,CRDe,2017,"46,365 kms",Diesel,7.72 Lakh
11,Maruti,Maruti Ciaz,Alpha AT,2022,"3,925 kms",Petrol,12.43 Lakh
12,Mahindra,Mahindra XUV500,W6 2WD,2015,"1,04,537 kms",Diesel,6.23 Lakh
13,Renault,Renault KWID,RXT,2017,"23,290 kms",Petrol,3.43 Lakh
14,Hyundai,Hyundai i20,Magna 1.2,2017,"81,624 kms",Petrol,5.60 Lakh
15,Hyundai,Hyundai i20,Asta Option 1.2,2015,"69,000 kms",Petrol,5.16 Lakh
16,BMW,BMW X5,xDrive 30d Design Pure Experience 7 Seater,2018,"32,001 kms",Diesel,54.50 Lakh
17,Hyundai,Hyundai i20,Asta Turbo iMT,2020,"9,500 kms",Petrol,9.50 Lakh
18,BMW,BMW 5 Series,520d M Sport,2017,"27,808 kms",Diesel,28.00 Lakh
19,BMW,BMW X1,sDrive20i xLine,2021,"12,500 kms",Petrol,41.00 Lakh

In [37]:
driver3.close()

## Mumbai

In [46]:
driver4=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url4=("https://www.cardekho.com/used-cars")
driver4.get(url4)
driver4.maximize_window()
time.sleep(2)

In [47]:
location_Mumbai= driver4.find_element(By.XPATH,"//a[@title='Used cars in Mumbai']").click()

In [48]:
# scrolling the web page to get more images
for _ in range(500):
    driver4.execute_script("window.scrollBy(0,100)")

In [49]:
urls4 = []
for i in range(10):
    for j in driver4.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls4.append(j.get_attribute('href'))

time.sleep(2)
print(len(urls4))

0

In [50]:
#Creating empty list 
Brand4= []
Model4 = []
Variant4=[]
Manufacturing_Year4 = []
Driven_KiloMeters4= []
Fuel4 = []
Location4= []
Car_Price4= []


#Fetching data for Brand    
try:
    Brand_name4=driver4.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name4:
        Brand4.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand4.append('-')
    
#Fetching data for Model   
try:
    Model_name4=driver4.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name4:
        Model4.append(i.text[5:])
except NoSuchElementException as e:
    Model4.append('-')

#Fetching data for Variant   
try:
    Variant_name4=driver4.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name4:
        Variant4.append(i.text)
except NoSuchElementException as e:
    Variant4.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing4=driver4.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing4:
        Manufacturing_Year4.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year4.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter4=driver4.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter4:
        Driven_KiloMeters4.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters4.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name4=driver4.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name4:
        Fuel4.append(i.text)
except NoSuchElementException as e:
    Fuel4.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr4=driver4.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr4:
        Car_Price4.append(i.text)
except NoSuchElementException as e:
    Car_Price4.append('-')

In [51]:
print(len(Brand4),len(Model4),len(Variant4),len(Manufacturing_Year4), len(Driven_KiloMeters4), len(Fuel4), len(Car_Price4))

0 0 0 0 0 0 0

In [52]:
#Fetching data for Location       
try:
    Location_name4=driver4.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name4:
            Location4.append(i.text[13:])
except NoSuchElementException as e:
    Location4.append('-')

In [53]:
Mumbai=pd.DataFrame({'Brand':Brand4, 'Model':Model4, 'Variant':Variant4, 'Manufacturing_Year':Manufacturing_Year4, 'Driven_KiloMeters':Driven_KiloMeters4, 'Fuel':Fuel4, 'Car_Price':Car_Price4})
Mumbai

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Car_Price]
Index: []

In [54]:
driver4.close()

## Pune

In [70]:
driver5=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url5=("https://www.cardekho.com/used-cars")
driver5.get(url5)
driver5.maximize_window()
time.sleep(2)

In [71]:
location_Pune= driver5.find_element(By.XPATH,"//a[@title='Used cars in Pune']").click()

In [72]:
# scrolling the web page to get more images
for _ in range(500):
    driver5.execute_script("window.scrollBy(0,100)")

In [73]:
urls5 = []
for i in range(10):
    for j in driver5.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls5.append(j.get_attribute('href'))

time.sleep(2)

print(len(urls5))

0

In [74]:
#Creating empty list 
Brand5= []
Model5 = []
Variant5=[]
Manufacturing_Year5 = []
Driven_KiloMeters5= []
Fuel5 = []
Location5= []
Car_Price5= []


#Fetching data for Brand    
try:
    Brand_name5=driver5.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name5:
        Brand5.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand5.append('-')
    
#Fetching data for Model   
try:
    Model_name5=driver5.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name5:
        Model5.append(i.text[5:])
except NoSuchElementException as e:
    Model5.append('-')

#Fetching data for Variant   
try:
    Variant_name5=driver5.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name5:
        Variant5.append(i.text)
except NoSuchElementException as e:
    Variant5.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing5=driver5.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing5:
        Manufacturing_Year5.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year5.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter5=driver5.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter5:
        Driven_KiloMeters5.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters5.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name5=driver5.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name5:
        Fuel5.append(i.text)
except NoSuchElementException as e:
    Fuel5.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr5=driver5.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr5:
        Car_Price5.append(i.text)
except NoSuchElementException as e:
    Car_Price5.append('-')

In [75]:
print(len(Brand5),len(Model5),len(Variant5),len(Manufacturing_Year5), len(Driven_KiloMeters5), len(Fuel5), len(Car_Price5))

0 0 0 0 0 0 0

In [76]:
#Fetching data for Location       
try:
    Location_name5=driver5.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (360):
        for i in Location_name5:
            Location5.append(i.text[13:])
except NoSuchElementException as e:
    Location5.append('-')

In [77]:
#Creating DataFrame
Pune=pd.DataFrame({'Brand':Brand5[:360], 'Model':Model5[:360], 'Variant':Variant5[:360], 'Manufacturing_Year':Manufacturing_Year5[:360], 'Driven_KiloMeters':Driven_KiloMeters5[:360], 'Fuel':Fuel5[:360], 'Location':Location5[:360], 'Car_Price':Car_Price5[:360]})
Pune

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Location, Car_Price]
Index: []

In [78]:
driver5.close()

## Jaipur

In [82]:
driver6=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url6=("https://www.cardekho.com/used-cars")
driver6.get(url6)
driver6.maximize_window()
time.sleep(2)

In [83]:
location_Jaipur= driver6.find_element(By.XPATH,"//a[@title='Used cars in Jaipur']").click()

In [84]:
# scrolling the web page to get more images
for _ in range(500):
    driver6.execute_script("window.scrollBy(0,1000)")

In [85]:
urls6 = []
for i in range(30):
    for j in driver6.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls6.append(j.get_attribute('href'))

time.sleep(2)

print(len(urls6))

1120

In [86]:
#Creating empty list 
Brand6= []
Model6 = []
Variant6=[]
Manufacturing_Year6 = []
Driven_KiloMeters6= []
Fuel6 = []
Location6= []
Car_Price6= []


#Fetching data for Brand    
try:
    Brand_name6=driver6.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name6:
        Brand6.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand6.append('-')
    
#Fetching data for Model   
try:
    Model_name6=driver6.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name6:
        Model6.append(i.text[5:])
except NoSuchElementException as e:
    Model6.append('-')

#Fetching data for Variant   
try:
    Variant_name6=driver6.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name6:
        Variant6.append(i.text)
except NoSuchElementException as e:
    Variant6.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing6=driver6.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing6:
        Manufacturing_Year6.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year6.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter6=driver6.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter6:
        Driven_KiloMeters6.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters6.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name6=driver6.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name6:
        Fuel6.append(i.text)
except NoSuchElementException as e:
    Fuel6.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr6=driver6.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr6:
        Car_Price6.append(i.text)
except NoSuchElementException as e:
    Car_Price6.append('-')

In [87]:
print(len(Brand6),len(Model6),len(Variant6),len(Manufacturing_Year6), len(Driven_KiloMeters6), len(Fuel6), len(Car_Price6))

40 40 40 40 40 40 40

In [88]:
#Fetching data for Location       
try:
    Location_name6=driver6.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name6:
            Location6.append(i.text[13:])
except NoSuchElementException as e:
    Location6.append('-')

In [90]:
#Creating DataFrame
Jaipur=pd.DataFrame({'Brand':Brand6[:200], 'Model':Model6[:200], 'Variant':Variant6[:200], 'Manufacturing_Year':Manufacturing_Year6[:200], 'Driven_KiloMeters':Driven_KiloMeters6[:200], 'Fuel':Fuel6[:200],  'Car_Price':Car_Price6[:200]})
Jaipur

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Car_Price
0,Renault,Renault KWID,RXL,2017,"9,787 kms",Petrol,2.85 Lakh
1,Honda,Honda City,i-VTEC CVT ZX,2017,"27,787 kms",Petrol,9.45 Lakh
2,Hyundai,Hyundai Venue,SX Plus Turbo DCT,2021,"8,639 kms",Petrol,12.60 Lakh
3,Honda,Honda Amaze,V CVT Petrol BSIV,2019,"31,133 kms",Petrol,7.55 Lakh
4,Honda,Honda City,ZX CVT,2020,"55,617 kms",Petrol,13.00 Lakh
5,Nissan,Nissan Kicks,1.3 Turbo XV,2020,"16,194 kms",Petrol,9.80 Lakh
6,Maruti,Maruti Ciaz,Alpha BSIV,2019,"7,243 kms",Petrol,9.26 Lakh
7,Renault,Renault Duster,RXZ Turbo,2020,"52,432 kms",Petrol,10.75 Lakh
8,Maruti,Maruti Alto 800,VXI,2014,"62,334 kms",Petrol,2.15 Lakh
9,Honda,Honda City,i VTEC CVT VX,2016,"98,057 kms",Petrol,6.70 Lakh
10,Honda,Honda City,ZX CVT,2020,"39,166 kms",Petrol,13.10 Lakh
11,Hyundai,Hyundai Alcazar,Signature,2021,"10,592 kms",Petrol,17.85 Lakh
12,Hyundai,Hyundai i20,Petrol Asta Option,2019,"24,241 kms",Petrol,7.75 Lakh
13,Renault,Renault Duster,85PS Diesel RxS,2019,"80,002 kms",Diesel,8.30 Lakh
14,Nissan,Nissan Terrano,XL 85 PS,2017,"65,000 kms",Diesel,6.45 Lakh
15,Maruti,Maruti Ciaz,1.3 Delta,2018,"54,000 kms",Diesel,7.15 Lakh
16,Maruti,Maruti Baleno,Delta,2020,"12,000 kms",Petrol,7.25 Lakh
17,Maruti,Maruti Ciaz,Zeta,2018,"28,000 kms",Petrol,8.65 Lakh
18,Hyundai,Hyundai Verna,1.6 VTVT SX,2016,"48,000 kms",Petrol,7.15 Lakh
19,Mercedes-Benz,Mercedes-Benz GLS,350d Grand Edition,2016,"45,000 kms",Diesel,59.50 Lakh
20,Hyundai,Hyundai Creta,1.6 VTVT E Plus,2019,"65,900 kms",Petrol,9.54 Lakh
21,Hyundai,Hyundai Venue,SX iMT,2020,"18,219 kms",Petrol,9.75 Lakh
22,Hyundai,Hyundai i20,Petrol Asta Option,2019,"24,241 kms",Petrol,7.75 Lakh
23,Renault,Renault Duster,85PS Diesel RxS,2019,"80,002 kms",Diesel,8.30 Lakh
24,Jeep,Jeep Compass,1.4 Limited Option,2018,"33,684 kms",Petrol,14.13 Lakh
25,Maruti,Maruti Baleno,1.2 Delta,2019,"54,461 kms",Petrol,6.65 Lakh
26,Hyundai,Hyundai Verna,1.6 VTVT S,2017,"49,485 kms",Petrol,7.17 Lakh
27,Honda,Honda City,i-VTEC CVT ZX,2018,"73,971 kms",Petrol,10.00 Lakh
28,Hyundai,Hyundai Grand i10 Nios,AMT Sportz,2020,"12,496 kms",Petrol,7.32 Lakh
29,Tata,Tata Nexon,1.2 Revotron XM,2018,"65,419 kms",Petrol,6.77 Lakh
30,Honda,Honda City,i-VTEC V,2017,"60,411 kms",Petrol,7.50 Lakh
31,Honda,Honda City,i-VTEC VX,2019,"38,374 kms",Petrol,9.40 Lakh
32,Hyundai,Hyundai Venue,SX Turbo,2021,"19,099 kms",Petrol,10.44 Lakh
33,Hyundai,Hyundai Venue,SX Turbo,2021,"13,731 kms",Petrol,10.18 Lakh
34,Hyundai,Hyundai Verna,VTVT 1.6 SX,2018,"37,842 kms",Petrol,9.27 Lakh
35,Volkswagen,Volkswagen Polo,1.0 MPI Highline Plus,2018,"24,228 kms",Petrol,6.60 Lakh
36,Honda,Honda Jazz,1.2 VX i VTEC,2018,"49,307 kms",Petrol,6.13 Lakh
37,Maruti,Maruti Baleno,Delta,2021,"16,587 kms",Petrol,7.00 Lakh
38,Honda,Honda City,i DTEC S,2015,"1,30,430 kms",Diesel,5.55 Lakh
39,Maruti,Maruti S-Presso,VXI Plus 2019-2022,2019,"19,340 kms",Petrol,4.30 Lakh

In [91]:
car_dekho=pd.concat([Ahmedabad,Bangalore,Delhi,Mumbai,Pune,Jaipur], ignore_index=True)
car_dekho

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Maruti,Maruti Baleno,1.2 Delta,2017,"61,628 kms",Petrol,NaN,5.65 Lakh
1,Maruti,Maruti Ciaz,Delta BSIV,2019,"34,474 kms",Petrol,NaN,8.17 Lakh
2,Hyundai,Hyundai Venue,SX Plus Turbo DCT BSIV,2019,"26,684 kms",Petrol,NaN,10.53 Lakh
3,Maruti,Maruti Celerio,VXI CNG Optional BSIV,2018,"50,969 kms",CNG,NaN,5.13 Lakh
4,Maruti,Maruti Baleno,1.2 Delta,2017,"39,781 kms",Petrol,NaN,5.96 Lakh
5,Hyundai,Hyundai Creta,1.6 CRDi SX,2019,"66,518 kms",Diesel,NaN,11.30 Lakh
6,Maruti,Maruti Ciaz,AT ZXi,2016,"38,387 kms",Petrol,NaN,7.53 Lakh
7,Maruti,Maruti Baleno,1.2 Delta,2016,"29,859 kms",Petrol,NaN,5.55 Lakh
8,Hyundai,Hyundai i20,1.2 Asta,2017,"58,438 kms",Petrol,NaN,6.29 Lakh
9,Toyota,Toyota Etios Liva,1.2 G,2018,"24,250 kms",Petrol,NaN,5.25 Lakh
10,Mahindra,Mahindra Thar,CRDe,2017,"46,365 kms",Diesel,NaN,7.72 Lakh
11,Maruti,Maruti Ciaz,Alpha AT,2022,"3,925 kms",Petrol,NaN,12.43 Lakh
12,Mahindra,Mahindra XUV500,W6 2WD,2015,"1,04,537 kms",Diesel,NaN,6.23 Lakh
13,Renault,Renault KWID,RXT,2017,"23,290 kms",Petrol,NaN,3.43 Lakh
14,Hyundai,Hyundai i20,Magna 1.2,2017,"81,624 kms",Petrol,NaN,5.60 Lakh
15,Hyundai,Hyundai i20,Asta Option 1.2,2015,"69,000 kms",Petrol,NaN,5.16 Lakh
16,BMW,BMW X5,xDrive 30d Design Pure Experience 7 Seater,2018,"32,001 kms",Diesel,NaN,54.50 Lakh
17,Hyundai,Hyundai i20,Asta Turbo iMT,2020,"9,500 kms",Petrol,NaN,9.50 Lakh
18,BMW,BMW 5 Series,520d M Sport,2017,"27,808 kms",Diesel,NaN,28.00 Lakh
19,BMW,BMW X1,sDrive20i xLine,2021,"12,500 kms",Petrol,NaN,41.00 Lakh
20,Renault,Renault KWID,RXL,2017,"9,787 kms",Petrol,NaN,2.85 Lakh
21,Honda,Honda City,i-VTEC CVT ZX,2017,"27,787 kms",Petrol,NaN,9.45 Lakh
22,Hyundai,Hyundai Venue,SX Plus Turbo DCT,2021,"8,639 kms",Petrol,NaN,12.60 Lakh
23,Honda,Honda Amaze,V CVT Petrol BSIV,2019,"31,133 kms",Petrol,NaN,7.55 Lakh
24,Honda,Honda City,ZX CVT,2020,"55,617 kms",Petrol,NaN,13.00 Lakh
25,Nissan,Nissan Kicks,1.3 Turbo XV,2020,"16,194 kms",Petrol,NaN,9.80 Lakh
26,Maruti,Maruti Ciaz,Alpha BSIV,2019,"7,243 kms",Petrol,NaN,9.26 Lakh
27,Renault,Renault Duster,RXZ Turbo,2020,"52,432 kms",Petrol,NaN,10.75 Lakh
28,Maruti,Maruti Alto 800,VXI,2014,"62,334 kms",Petrol,NaN,2.15 Lakh
29,Honda,Honda City,i VTEC CVT VX,2016,"98,057 kms",Petrol,NaN,6.70 Lakh
30,Honda,Honda City,ZX CVT,2020,"39,166 kms",Petrol,NaN,13.10 Lakh
31,Hyundai,Hyundai Alcazar,Signature,2021,"10,592 kms",Petrol,NaN,17.85 Lakh
32,Hyundai,Hyundai i20,Petrol Asta Option,2019,"24,241 kms",Petrol,NaN,7.75 Lakh
33,Renault,Renault Duster,85PS Diesel RxS,2019,"80,002 kms",Diesel,NaN,8.30 Lakh
34,Nissan,Nissan Terrano,XL 85 PS,2017,"65,000 kms",Diesel,NaN,6.45 Lakh
35,Maruti,Maruti Ciaz,1.3 Delta,2018,"54,000 kms",Diesel,NaN,7.15 Lakh
36,Maruti,Maruti Baleno,Delta,2020,"12,000 kms",Petrol,NaN,7.25 Lakh
37,Maruti,Maruti Ciaz,Zeta,2018,"28,000 kms",Petrol,NaN,8.65 Lakh
38,Hyundai,Hyundai Verna,1.6 VTVT SX,2016,"48,000 kms",Petrol,NaN,7.15 Lakh
39,Mercedes-Benz,Mercedes-Benz GLS,350d Grand Edition,2016,"45,000 kms",Diesel,NaN,59.50 Lakh
40,Hyundai,Hyundai Creta,1.6 VTVT E Plus,2019,"65,900 kms",Petrol,NaN,9.54 Lakh
41,Hyundai,Hyundai Venue,SX iMT,2020,"18,219 kms",Petrol,NaN,9.75 Lakh
42,Hyundai,Hyundai i20,Petrol Asta Option,2019,"24,241 kms",Petrol,NaN,7.75 Lakh
43,Renault,Renault Duster,85PS Diesel RxS,2019,"80,002 kms",Diesel,NaN,8.30 Lakh
44,Jeep,Jeep Compass,1.4 Limited Option,2018,"33,684 kms",Petrol,NaN,14.13 Lakh
45,Maruti,Maruti Baleno,1.2 Delta,2019,"54,461 kms",Petrol,NaN,6.65 Lakh
46,Hyundai,Hyundai Verna,1.6 VTVT S,2017,"49,485 kms",Petrol,NaN,7.17 Lakh
47,Honda,Honda City,i-VTEC CVT ZX,2018,"73,971 kms",Petrol,NaN,10.00 Lakh
48,Hyundai,Hyundai Grand i10 Nios,AMT Sportz,2020,"12,496 kms",Petrol,NaN,7.32 Lakh
49,Tata,Tata Nexon,1.2 Revotron XM,2018,"65,419 kms",Petrol,NaN,6.77 Lakh
50,Honda,Honda City,i-VTEC V,2017,"60,411 kms",Petrol,NaN,7.50 Lakh
51,Honda,Honda City,i-VTEC VX,2019,"38,374 kms",Petrol,NaN,9.40 Lakh
52,Hyundai,Hyundai Venue,SX Turbo,2021,"19,099 kms",Petrol,NaN,10.44 Lakh
53,Hyundai,Hyundai Venue,SX Turbo,2021,"13,731 kms",Petrol,NaN,10.18 Lakh
54,Hyundai,Hyundai Verna,VTVT 1.6 SX,2018,"37,842 kms",Petrol,NaN,9.27 Lakh
55,Volkswagen,Volkswagen Polo,1.0 MPI Highline Plus,2018,"24,228 kms",Petrol,NaN,6.60 Lakh
56,Honda,Honda Jazz,1.2 VX i VTEC,2018,"49,307 kms",Petrol,NaN,6.13 Lakh
57,Maruti,Maruti Baleno,Delta,2021,"16,587 kms",Petrol,NaN,7.00 Lakh
58,Honda,Honda City,i DTEC S,2015,"1,30,430 kms",Diesel,NaN,5.55 Lakh
59,Maruti,Maruti S-Presso,VXI Plus 2019-2022,2019,"19,340 kms",Petrol,NaN,4.30 Lakh

In [92]:
car_dekho.to_csv('car_dekho', index=True)

In [93]:
driver6.close()

## 2. Scraping data from "OLX" Website

In [100]:
driver7=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url7=("https://www.olx.in/cars_c84")
driver7.get(url7)
driver7.maximize_window()
time.sleep(2)

In [104]:
# scrolling the web page 
for b in range(20):
    driver7.execute_script("window.scrollBy(0,1000)")

button=driver7.find_elements(By.XPATH,'//li[@class="_3OF2S"]/div')

In [105]:
urls7 = []
for i in range(150):
    for j in driver7.find_elements(By.XPATH,'//li[@class="_31j8e"]/a'):
        urls7.append(j.get_attribute('href'))

print(len(urls7))

0

In [106]:
Location8= []
for _ in range(100):
    driver7.execute_script("window.scrollBy(0,1000)")
#Fetching data for Location   
    try:
        Location_name7=driver7.find_elements(By.XPATH,"//div[@class='_1zvfB']")
        for i in Location_name7:
            Location8.append(i.text.split("\n")[0])
    except NoSuchElementException as e:
        Location8.append('-')

In [107]:
len(Location8)

0

In [109]:
#Creating empty list 

Brand7 = []
Model7 = []
Variant7=[]
Manufacturing_Year7 = []
Driven_KiloMeters7= []
Fuel7 = []
Car_Price7= []

for i in urls7[:2000]:
    driver7.get(i)
    time.sleep(1)   
    
    try:

        #Fetching data for Brand    
        try:
            Brand_name7=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Brand_name7:
                Brand7.append(i.text.split(' ')[0])
        except NoSuchElementException as e:
            Brand7.append('-')


        #Fetching data for Model   
        try:
            Model_name7=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Model_name7:
                Model7.append(i.text.split("(")[0])
        except NoSuchElementException as e:
            Model7.append('-')

        #Fetching data for Variant   
        try:
            Variant_name7=driver7.find_elements(By.XPATH,"//div[@class='_3tLee']")
            for i in Variant_name7:
                Variant7.append(i.text)
        except NoSuchElementException as e:
            Variant7.append('-')

        #Fetching data for Manufacturing    
        try:
            Manufacturing7=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Manufacturing7:
                Manufacturing_Year7.append(i.text.split("(")[1].replace(")", " "))
        except NoSuchElementException as e:
            Manufacturing_Year7.append('-')    

        #Fetching data for Driven_KiloMeters    
        try:
            Driven_KiloMeter7=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[2]/div')
            for i in Driven_KiloMeter7:
                Driven_KiloMeters7.append(i.text)
        except NoSuchElementException as e:
            Driven_KiloMeters7.append('-')    

        #Fetching data for Fuel    
        try:
            Fuel_name7=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[1]/div')
            for i in Fuel_name7:
                Fuel7.append(i.text)
        except NoSuchElementException as e:
            Fuel7.append('-')

        #Fetching data for Car_Price    
        try:
            Car_Pr7=driver7.find_elements(By.XPATH,"//div[@class='_3FkyT']")
            for i in Car_Pr7:
                Car_Price7.append(i.text)
        except NoSuchElementException as e:
            Car_Price7.append('-')
    except TimeoutException:
        pass        
    except NoSuchElementException:
        pass

In [110]:
print(len(Brand7),len(Model7),len(Variant7),len(Manufacturing_Year7), len(Driven_KiloMeters7), len(Fuel7), len(Car_Price7))

0 0 0 0 0 0 0

In [111]:
Olx_Car1 = pd.DataFrame({'Brand':Brand7[:1970], 'Model':Model7[:1970], 'Variant':Variant7[:1970], 'Manufacturing_Year':Manufacturing_Year7[:1970], 'Driven_KiloMeters':Driven_KiloMeters7[:1970], 'Fuel':Fuel7[:1970],  'Location':Location8[:1970], 'Car_Price':Car_Price7[:1970]})
Olx_Car1

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Location, Car_Price]
Index: []

In [112]:
#Creating empty list 
Brand8 = []
Model8 = []
Variant8=[]
Manufacturing_Year8 = []
Driven_KiloMeters8= []
Fuel8 = []
Car_Price8= []

for i in urls7[2000:2500]:
    driver7.get(i)
    time.sleep(1)   
    
    try:

        #Fetching data for Brand    
        try:
            Brand_name8=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Brand_name8:
                Brand8.append(i.text.split(' ')[0])
        except NoSuchElementException as e:
            Brand8.append('-')


        #Fetching data for Model   
        try:
            Model_name8=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Model_name8:
                Model8.append(i.text.split("(")[0])
        except NoSuchElementException as e:
            Model8.append('-')

        #Fetching data for Variant   
        try:
            Variant_name8=driver7.find_elements(By.XPATH,"//div[@class='_3tLee']")
            for i in Variant_name8:
                Variant8.append(i.text)
        except NoSuchElementException as e:
            Variant8.append('-')

        #Fetching data for Manufacturing    
        try:
            Manufacturing8=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Manufacturing8:
                Manufacturing_Year8.append(i.text.split("(")[1].replace(")", " "))
        except NoSuchElementException as e:
            Manufacturing_Year8.append('-')    

        #Fetching data for Driven_KiloMeters    
        try:
            Driven_KiloMeter8=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[2]/div')
            for i in Driven_KiloMeter8:
                Driven_KiloMeters8.append(i.text)
        except NoSuchElementException as e:
            Driven_KiloMeters8.append('-')    

        #Fetching data for Fuel    
        try:
            Fuel_name8=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[1]/div')
            for i in Fuel_name8:
                Fuel8.append(i.text)
        except NoSuchElementException as e:
            Fuel8.append('-')

        #Fetching data for Car_Price    
        try:
            Car_Pr8=driver7.find_elements(By.XPATH,"//div[@class='_3FkyT']")
            for i in Car_Pr8:
                Car_Price8.append(i.text)
        except NoSuchElementException as e:
            Car_Price8.append('-')
    except TimeoutException:
        pass        
    except NoSuchElementException:
        pass

In [113]:
print(len(Brand8),len(Model8),len(Variant8),len(Manufacturing_Year8), len(Driven_KiloMeters8), len(Fuel8), len(Car_Price8))

0 0 0 0 0 0 0

In [114]:
Olx_Car2 = pd.DataFrame({'Brand':Brand8[:493], 'Model':Model8[:493], 'Variant':Variant8[:493], 'Manufacturing_Year':Manufacturing_Year8[:493], 'Driven_KiloMeters':Driven_KiloMeters8[:493], 'Fuel':Fuel8[:493],  'Location':Location8[1970:2463], 'Car_Price':Car_Price8[:493]})
Olx_Car2

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Location, Car_Price]
Index: []

In [115]:
Olx_Car=pd.concat([Olx_Car1, Olx_Car2], ignore_index=True)
Olx_Car

Empty DataFrame
Columns: [Brand, Model, Variant, Manufacturing_Year, Driven_KiloMeters, Fuel, Location, Car_Price]
Index: []

In [116]:
Olx_Car.to_csv('Olx_Car', index=True)

In [117]:
driver7.close()

## 3. Scraping data from "cars24" Website

### Delhi

In [118]:
driver9=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url9=("https://www.cars24.com/buy-used-cars/")
driver9.get(url9)
driver9.maximize_window()
time.sleep(2)

In [119]:
# scrolling the web page 
for _ in range(100):
    driver9.execute_script("window.scrollBy(0,1000)")

In [122]:
location1= driver9.find_element(By.XPATH,'//li[@data-title="New Delhi"]')

In [123]:
# scrolling the web page 
for _ in range(100):
    driver9.execute_script("window.scrollBy(0,1000)")

In [127]:
#Creating empty list 
Brand9 = []
Model9 = []
Variant9=[]
Manufacturing_Year9 = []
Driven_KiloMeters9= []
Fuel9 = []
Number_of_Owners9 = []
Location9= []
Car_Price9= []

#Fetching data for Brand    
try:
    Brand_name9=driver9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name9:
        Brand9.append(i.text)
except NoSuchElementException as e:
    Brand9.append('-')


#Fetching data for Model   
try:
    Model_name9=driver9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name9:
        Model9.append(i.text)
except NoSuchElementException as e:
    Model9.append('-')

#Fetching data for Variant   
try:
    Variant_name9=driver9.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name9:
        Variant9.append(i.text)
except NoSuchElementException as e:
    Variant9.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing9=driver9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing9:
        Manufacturing_Year9.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year9.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter9=driver9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter9:
        Driven_KiloMeters9.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters9.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name9=driver9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name9:
        Fuel9.append(i.text)
except NoSuchElementException as e:
    Fuel9.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner9=driver9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner9:
        Number_of_Owners9.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners9.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr9=driver9.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr9:
        Car_Price9.append(i.text)
except NoSuchElementException as e:
    Car_Price9.append('-')

In [128]:
print(len(Brand9),len(Model9),len(Variant9),len(Manufacturing_Year9), len(Driven_KiloMeters9), len(Fuel9), len(Number_of_Owners9),  len(Car_Price9))

5 5 5 5 5 5 5 5

In [129]:
#Fetching data for Location   
for i in range (664):
    Location9.append("Delhi")

In [131]:
car24= pd.DataFrame({'Brand':Brand9, 'Model':Model9, 'Variant':Variant9, 'Manufacturing_Year':Manufacturing_Year9, 'Driven_KiloMeters':Driven_KiloMeters9, 'Fuel':Fuel9, 'Number_of_Owners':Number_of_Owners9,  'Car_Price':Car_Price9})
car24

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,1st Owner,"6,02,399"
1,2019 Maruti Swift,2019 Maruti Swift,LXI Manual,2019,"12,046 km",Petrol,2nd Owner,"5,34,799"
2,2019 Maruti Swift,2019 Maruti Swift,VXI Manual,2019,"24,028 km",Petrol,1st Owner,"5,99,399"
3,,,,,,,,
4,,,,,,,,

### Mumbai

In [133]:
driver_9=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url_9=("https://www.cars24.com/buy-used-cars/")
driver_9.get(url_9)
driver_9.maximize_window()
time.sleep(2)

In [134]:
# scrolling the web page 
for _ in range(20):
    driver_9.execute_script("window.scrollBy(0,1000)")

In [137]:
location2= driver_9.find_elements(By.XPATH,'//li[@data-title="Mumbai"]')

In [138]:
# scrolling the web page 
for _ in range(100):
    driver_9.execute_script("window.scrollBy(0,1000)")

In [142]:
#Creating empty list 
Brand_9 = []
Model_9 = []
Variant_9=[]
Manufacturing_Yr_9 = []
Driven_KMs_9= []
Fuel_9 = []
Number_of_Owners_9 = []
Location_9= []
Car_Price_9= []

#Fetching data for Brand    
try:
    Brand_name_9=driver_9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name_9:
        Brand_9.append(i.text)
except NoSuchElementException as e:
    Brand_9.append('-')


#Fetching data for Model   
try:
    Model_name_9=driver_9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name_9:
        Model_9.append(i.text)
except NoSuchElementException as e:
    Model_9.append('-')

#Fetching data for Variant   
try:
    Variant_name_9=driver_9.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name_9:
        Variant_9.append(i.text)
except NoSuchElementException as e:
    Variant_9.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing_9=driver_9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing_9:
        Manufacturing_Yr_9.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Yr_9.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter_9=driver_9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter_9:
        Driven_KMs_9.append(i.text)
except NoSuchElementException as e:
    Driven_KMs_9.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name_9=driver_9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name_9:
        Fuel_9.append(i.text)
except NoSuchElementException as e:
    Fuel_9.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner_9=driver_9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner_9:
        Number_of_Owners_9.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners_9.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr_9=driver_9.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr_9:
        Car_Price_9.append(i.text)
except NoSuchElementException as e:
    Car_Price_9.append('-')

In [143]:
print(len(Brand_9),len(Model_9),len(Variant_9),len(Manufacturing_Yr_9), len(Driven_KMs_9), len(Fuel_9), len(Number_of_Owners_9),  len(Car_Price_9))

5 5 5 5 5 5 5 5

In [144]:
#Fetching data for Location   
for i in range (465):
    Location_9.append("Delhi")

In [146]:
car_24= pd.DataFrame({'Brand':Brand_9, 'Model':Model_9, 'Variant':Variant_9, 'Manufacturing_Year':Manufacturing_Yr_9, 'Driven_KiloMeters':Driven_KMs_9, 'Fuel':Fuel_9, 'Number_of_Owners':Number_of_Owners_9,  'Car_Price':Car_Price_9})
car_24

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,2013 Maruti Alto 800,2013 Maruti Alto 800,LXI Manual,2013,"15,999 km",Petrol,1st Owner,"2,74,599"
1,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"4,741 km",Petrol,1st Owner,"6,08,999"
2,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,1st Owner,"6,02,399"
3,,,,,,,,
4,,,,,,,,

In [147]:
driver_9.close()

### Bengaluru

In [148]:
driver0=webdriver.Chrome(r"C:\Users\hp pc\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url0=("https://www.cars24.com/buy-used-cars/")
driver0.get(url0)
driver0.maximize_window()
time.sleep(2)

In [149]:
# scrolling the web page 
for _ in range(10):
    driver0.execute_script("window.scrollBy(0,1000)")

In [152]:
location3= driver0.find_elements(By.XPATH,'//li[@data-title="Bengaluru"]')

In [153]:
# scrolling the web page 
for _ in range(100):
    driver0.execute_script("window.scrollBy(0,1000)")

In [158]:
#Creating empty list 
Brand0 = []
Model0 = []
Variant0=[]
Manufacturing_Year0 = []
Driven_KiloMeters0= []
Fuel0 = []
Number_of_Owners0 = []
Location0= []
Car_Price0= []

#Fetching data for Brand    
try:
    Brand_name0=driver0.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name0:
        Brand0.append(i.text)
except NoSuchElementException as e:
    Brand0.append('-')


#Fetching data for Model   
try:
    Model_name0=driver0.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name0:
        Model0.append(i.text)
except NoSuchElementException as e:
    Model0.append('-')

#Fetching data for Variant   
try:
    Variant_name0=driver0.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name0:
        Variant0.append(i.text)
except NoSuchElementException as e:
    Variant0.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing0=driver0.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing0:
        Manufacturing_Year0.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year0.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter0=driver0.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter0:
        Driven_KiloMeters0.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters0.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name0=driver0.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name0:
        Fuel0.append(i.text)
except NoSuchElementException as e:
    Fuel0.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner0=driver0.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner0:
        Number_of_Owners0.append(i.text)
except NoSuchElementException as e:
    Number_of_Owners0.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr0=driver0.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr0:
        Car_Price0.append(i.text)
except NoSuchElementException as e:
    Car_Price0.append('-')

In [159]:
print(len(Brand0),len(Model0),len(Variant0),len(Manufacturing_Year0), len(Driven_KiloMeters0), len(Fuel0), len(Number_of_Owners0),  len(Car_Price0))

5 5 5 5 5 5 5 5

In [160]:
#Fetching data for Location   
for i in range (624):
    Location0.append("Delhi")

In [162]:
car24_= pd.DataFrame({'Brand':Brand0, 'Model':Model0, 'Variant':Variant0, 'Manufacturing_Year':Manufacturing_Year0, 'Driven_KiloMeters':Driven_KiloMeters0, 'Fuel':Fuel0, 'Number_of_Owners':Number_of_Owners0,  'Car_Price':Car_Price0})
car24_

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,1st Owner,"6,02,399"
1,2019 Maruti Swift,2019 Maruti Swift,LXI Manual,2019,"12,046 km",Petrol,2nd Owner,"5,34,799"
2,2019 Maruti Swift,2019 Maruti Swift,VXI Manual,2019,"24,028 km",Petrol,1st Owner,"5,99,399"
3,,,,,,,,
4,,,,,,,,

In [163]:
driver0.close()

In [164]:
cars24=pd.concat([car24,car_24, car24_], ignore_index=True)
cars24

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Car_Price
0,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,1st Owner,"6,02,399"
1,2019 Maruti Swift,2019 Maruti Swift,LXI Manual,2019,"12,046 km",Petrol,2nd Owner,"5,34,799"
2,2019 Maruti Swift,2019 Maruti Swift,VXI Manual,2019,"24,028 km",Petrol,1st Owner,"5,99,399"
3,,,,,,,,
4,,,,,,,,
5,2013 Maruti Alto 800,2013 Maruti Alto 800,LXI Manual,2013,"15,999 km",Petrol,1st Owner,"2,74,599"
6,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"4,741 km",Petrol,1st Owner,"6,08,999"
7,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,1st Owner,"6,02,399"
8,,,,,,,,
9,,,,,,,,
10,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,1st Owner,"6,02,399"
11,2019 Maruti Swift,2019 Maruti Swift,LXI Manual,2019,"12,046 km",Petrol,2nd Owner,"5,34,799"
12,2019 Maruti Swift,2019 Maruti Swift,VXI Manual,2019,"24,028 km",Petrol,1st Owner,"5,99,399"
13,,,,,,,,
14,,,,,,,,

## Merging DataFrame of both website

In [165]:
car_price=pd.concat([car_dekho,Olx_Car,cars24], ignore_index=True)

In [166]:
car_price

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price,Number_of_Owners
0,Maruti,Maruti Baleno,1.2 Delta,2017,"61,628 kms",Petrol,NaN,5.65 Lakh,NaN
1,Maruti,Maruti Ciaz,Delta BSIV,2019,"34,474 kms",Petrol,NaN,8.17 Lakh,NaN
2,Hyundai,Hyundai Venue,SX Plus Turbo DCT BSIV,2019,"26,684 kms",Petrol,NaN,10.53 Lakh,NaN
3,Maruti,Maruti Celerio,VXI CNG Optional BSIV,2018,"50,969 kms",CNG,NaN,5.13 Lakh,NaN
4,Maruti,Maruti Baleno,1.2 Delta,2017,"39,781 kms",Petrol,NaN,5.96 Lakh,NaN
...,...,...,...,...,...,...,...,...,...
70,2021 Maruti Swift,2021 Maruti Swift,LXI Manual,2021,"5,234 km",Petrol,NaN,"6,02,399",1st Owner
71,2019 Maruti Swift,2019 Maruti Swift,LXI Manual,2019,"12,046 km",Petrol,NaN,"5,34,799",2nd Owner
72,2019 Maruti Swift,2019 Maruti Swift,VXI Manual,2019,"24,028 km",Petrol,NaN,"5,99,399",1st Owner
73,,,,,,,NaN,,
74,,,,,,,NaN,,

### Converting data into CSV

In [167]:
car_price.to_csv('car_price.csv', index=True)