In [1]:
#installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\sarth\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sarth\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\sarth\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sarth\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\sarth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\sarth\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sarth\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sarth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sarth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\sarth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sarth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\sarth\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sarth\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#importing libraries and drivers
import selenium
import pandas as pd
import warnings
import numpy as np
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
#command to run chrome
driver = webdriver.Chrome(r'chromedriver.exe')

In [4]:
#get driver to visit defined URL
driver.get('https://www.naukri.com/')

In [5]:
#input in the “Skill, Designations, Companies” bar
skill = driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
skill.send_keys('Data Analyst')

In [6]:
#input in the location bar
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [7]:
#click on the search button
search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [8]:
title=[]
location=[]
company=[]
exp=[]

for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]: #scrapping 10 jobs title from page
    title.append(i.text)
    
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]: #scrapping 10 location details from page
    location.append(j.text)

for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]: #scrapping 10 company name from page
    company.append(k.text)
    
for l in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[0:10]: #scrapping 10 job's experience required from site
    exp.append(l.text)
    
df=pd.DataFrame({'Job Title':title, 'Job Location':location, 'Company Loaction': location, 'Experience Required':exp}) #converting scrapped data into dataframe
df.index=np.arange(1,len(df)+1) #inserting indexing
df

,Job Title,Job Location,Company Loaction,Experience Required
1,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad","Bangalore/Bengaluru, Hyderabad/Secunderabad",1-3 Yrs
2,Sr. Business Data Analyst,Bangalore/Bengaluru,Bangalore/Bengaluru,4-6 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Bangalore/Bengaluru,5-8 Yrs
4,Sr Clinical Data Analyst,Bangalore/Bengaluru,Bangalore/Bengaluru,2-5 Yrs
5,Manager / Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...","Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",2-7 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Ahmedabad","Bangalore/Bengaluru, Ahmedabad",2-7 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bangalore/Bengaluru,2-5 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),Bangalore/Bengaluru(Old Madras Road),3-6 Yrs
9,Sr. Data Analyst,"Bangalore/Bengaluru, Pune","Bangalore/Bengaluru, Pune",6-11 Yrs
10,Senior Data Analyst,Bangalore/Bengaluru,Bangalore/Bengaluru,5-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [9]:
#command to run chrome
driver = webdriver.Chrome(r'chromedriver.exe')

In [10]:
#get driver to visit defined URL
driver.get('https://www.naukri.com/')

In [11]:
#input in the “Skill, Designations, Companies” bar
skill = driver.find_element(By.CLASS_NAME,'suggestor-input ')
skill.send_keys('Data Scientist')

In [12]:
#input in the location bar
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [13]:
#click on the search button
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

In [14]:
title=[]
location=[]
company=[]

for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]: #scrapping 10 jobs title from page
    title.append(i.text)
    
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]: #scrapping 10 location details from page
    location.append(j.text)
    
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]: #scrapping 10 company name from page
    company.append(k.text)
    
df1=pd.DataFrame({'Job Title':title, 'Job Location':location, 'Company Name':company}) #converting scrapped data into dataframe
df1.index=np.arange(1,len(df1)+1) #inserting index numbers
df1

,Job Title,Job Location,Company Name
1,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
2,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
8,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
9,Data Scientist Lead_Tata Consultancy Services(...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",TATA CONSULTANCY SERVICES (TCS)
10,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [15]:
#command to run chrome
driver = webdriver.Chrome(r'chromedriver.exe')

In [16]:
#get driver to visit defined URL
driver.get('https://www.naukri.com/')

In [17]:
#input in the “Skill, Designations, and Companies” bar
skill = driver.find_element(By.CLASS_NAME,'suggestor-input ')
skill.send_keys('Data Scientist')

In [18]:
#click on search button
search = driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [19]:
#applying filter for "Delhi/NCR" location
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
loc.click()

In [20]:
#applying salary "3-6” filter
sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
sal.click()

In [21]:
title=[]
location=[]
company=[]
exp=[]

for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]: #scrapping 10 jobs title from page
    title.append(i.text)
    
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]: #scrapping 10 location data from page
    location.append(j.text)
    
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]: #scrapping 10 company name from page
    company.append(k.text)
    
for l in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[0:10]: #scrapping 10 experience data from page
    exp.append(l.text)

df1=pd.DataFrame({'Job Title':title, 'Job Location':location, 'Company Name':company, 'Experience Required':exp}) #converting scrapped data into dataframe
df1.index=np.arange(1,len(df1)+1) #inserting index numbers
df1

,Job Title,Job Location,Company Name,Experience Required
1,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
2,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
3,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
4,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
6,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
7,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
10,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs

Q4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [22]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [23]:
#get driver to visit defined URL
driver.get('https://www.flipkart.com/')

In [24]:
#closing the ad on the page
ad_close=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
ad_close.click()

#inserting command in the search bar
sea=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
sea.send_keys('Sunglasses')

#click on the search button
sear=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
sear.click()

In [25]:
brand=[]
prod1=[]
prod2=[]
price=[]
dis=[]
start= 0
end= 3

for page in range(start,end):
    tit=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    su1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    su2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    ds=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j in tit: #scrapping brand data from page
        brand.append(j.text)
        
    for k in su1: #scrapping product name data with one class name from page
        prod1.append(k.text)
        
    for m in su2: #scrapping product name data with second class name from page
        prod2.append(m.text)
        prod=prod1+prod2
        
    for l in pr: #scrapping price data from page
        price.append(l.text)
        
    for i in ds: #scrapping discoutn data from page
        dis.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='ge-49M']") #scraping the list of buttons from the page
    try:
        driver.get(nxt_button[page].get_attribute('href')) #getting the link from the list for next page
    except:
        print("Page not found")
        

df=pd.DataFrame({'Brand Name':brand,'Product Description':prod, 'Price':price, 'Discount Offered':dis}) #converting scrapped data into dataframe
df.index=np.arange(1,len(df)+1) #inserting index numbers
df.head(100) #slicing data to show only top 100 data

,Brand Name,Product Description,Price,Discount Offered
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,50% off
2,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹849,57% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
4,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
5,PIRASO,UV Protection Rectangular Sunglasses (52),₹252,90% off
...,...,...,...,...
96,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
97,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off
98,Ray-Ban,UV Protection Retro Square Sunglasses (55),"₹3,289",40% off
99,New Specs,UV Protection Round Sunglasses (Free Size),₹268,79% off
100,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off

Q5: Scrape 50 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for 50 reviews. (SME Updated)

In [26]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [27]:
#get driver to visit defined URL
driver.get('https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART ')

In [28]:
rat1=[]
summ1=[]
full1=[]
start=1
end=2
rat2=[]
summ2=[]
full2=[]
start2=4
end2=6
rat3=[]
summ3=[]
full3=[]
start3=8
end3=10

for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'): #scrapping rating data from page
        rat1.append(i.text)
        
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'): #scrapping review summary from page
        summ1.append(j.text)
        
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'): #scrapping full review from page
        full1.append(k.text)
        
for page in range(start2,end2):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'): #scrapping rating data from page
        rat2.append(i.text)
        
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'): #scrapping review summary from page
        summ2.append(j.text)
        
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'): #scrapping full review from page
        full2.append(k.text)
        
for page in range(start3,end3):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'): #scrapping rating data from page
        rat3.append(i.text)
        
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'): #scrapping review summary from page
        summ3.append(j.text)
        
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'): #scrapping full review from page
        full3.append(k.text)
        
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]') #scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href')) #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

#summing up all the scrapped data
 
rat = rat1+rat2+rat3 
summ=summ1+summ2+summ3
full=full1+full2+full3

df=pd.DataFrame({'Rating':rat, 'Summary Review':summ, 'Full Review':full}) #converting scrapped data into dataframe
df.index=np.arange(1,len(df)+1) #inserting index numbers
df

,Rating,Summary Review,Full Review
1,5,Terrific,Wow superb camera phone\nVery smooth speed and...
2,5,Perfect product!,The brand is very trustworthy and i got genuin...
3,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
4,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
5,5,Highly recommended,Thanx flipkart for value super sale for short ...
6,5,Awesome,"Excellent product worth for every penny, writi..."
7,5,Awesome,Thanks flipkart i trust you got my device perf...
8,5,Must buy!,Top class performance and battery backup too. ...
9,5,Brilliant,Almost 1month of purshase and i am loving it ....
10,5,Highly recommended,My 1st iPhone ever and I’m loving it. Great pe...
11,5,Terrific,Wow superb camera phone\nVery smooth speed and...
12,5,Perfect product!,The brand is very trustworthy and i got genuin...
13,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
14,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
15,5,Highly recommended,Thanx flipkart for value super sale for short ...
16,5,Awesome,"Excellent product worth for every penny, writi..."
17,5,Awesome,Thanks flipkart i trust you got my device perf...
18,5,Must buy!,Top class performance and battery backup too. ...
19,5,Brilliant,Almost 1month of purshase and i am loving it ....
20,5,Highly recommended,My 1st iPhone ever and I’m loving it. Great pe...
21,5,Terrific,Wow superb camera phone\nVery smooth speed and...
22,5,Perfect product!,The brand is very trustworthy and i got genuin...
23,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
24,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
25,5,Highly recommended,Thanx flipkart for value super sale for short ...
26,5,Awesome,"Excellent product worth for every penny, writi..."
27,5,Awesome,Thanks flipkart i trust you got my device perf...
28,5,Must buy!,Top class performance and battery backup too. ...
29,5,Brilliant,Almost 1month of purshase and i am loving it ....
30,5,Highly recommended,My 1st iPhone ever and I’m loving it. Great pe...
31,5,Terrific,Wow superb camera phone\nVery smooth speed and...
32,5,Perfect product!,The brand is very trustworthy and i got genuin...
33,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
34,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
35,5,Highly recommended,Thanx flipkart for value super sale for short ...
36,5,Awesome,"Excellent product worth for every penny, writi..."
37,5,Awesome,Thanks flipkart i trust you got my device perf...
38,5,Must buy!,Top class performance and battery backup too. ...
39,5,Brilliant,Almost 1month of purshase and i am loving it ....
40,5,Highly recommended,My 1st iPhone ever and I’m loving it. Great pe...
41,5,Must buy!,I really m glad that i went for i phone in pla...
42,5,Must buy!,"Delightful phone, the phone is just a peice of..."
43,5,Worth every penny,Best in every department. ❤️\nI upgraded on iP...
44,5,Just wow!,"Perfect phone , Apple after all\nGo for it eye..."
45,5,Terrific,This was an awesome buy. I bought this phone f...
46,5,Brilliant,Excellent product worth every penny right this...
47,5,Just wow!,iPhone 6S Plus 64GB -> iPhone 12 128GB\nMy 2nd...
48,5,Awesome,Switched from Android to iPhone and this trans...
49,5,Great product,Night mode is simply amazing and give you a cl...
50,4,Pretty good,I bought this iphone 12 in big billion days an...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [29]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [30]:
#get driver to visit defined URL
driver.get('https://www.flipkart.com/')

In [31]:
#closing ad on the page
ad_close=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
ad_close.click()

#inserting command in the search bar
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')

#click on the search button
search_button=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_button.click()

In [32]:
brand=[]
prod1=[]
prod2=[]
price=[]
discount=[]

for page in range(0,3):
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        
    for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        prod1.append(j.text)
    
    for c in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        prod2.append(c.text)
    prod=prod1+prod2
    
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(k.text)
    
    for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        discount.append(l.text)
    
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

df=pd.DataFrame({'Brand Name':brand, 'Product Name':prod, 'Item Price':price, 'Discount Offered':discount}) #converting scrapped data into dataframe
df.index=np.arange(1,len(df)+1) #inserting index numbers
df.head(100) #slicing data to show only top 100 data

,Brand Name,Product Name,Item Price,Discount Offered
1,ADIDAS,Easy Vulc 2.0 Sneakers For Men,"₹1,305",67% off
2,RapidBox,Mesh | Ultralightweight | Comfortable | Breath...,₹630,36% off
3,aadi,Sneakers For Women,₹374,81% off
4,Deals4you,Puma Smash Wns v2 L Sneakers For Women,₹373,62% off
5,PUMA,Super Stylish & Trendy Combo Pack of 02 Pairs ...,"₹1,542",55% off
...,...,...,...,...
96,bacca bucci,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...,"₹1,683",51% off
97,PUMA,Latest Women's Pack of 2 Stylish Slip-On Loafe...,"₹1,948",44% off
98,Xtoon,Puma Smash v2 L Sneakers For Men,₹499,66% off
99,aadi,VS PACE Sneakers For Men,₹399,60% off
100,bacca bucci,Shoes For Women's/Ladies/Female/Girls Running ...,"₹1,578",54% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

Need to Skip as per SME guided.

In [33]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [34]:
#getting webpage https://www.myntra.com/shoes
driver.get('https://www.myntra.com/shoes')

As the 'INSPECT' option is not accessible, so as per SME direction we need to skip this ques.

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings (need to remove as per SME)
3. Price

In [35]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [36]:
#get driver to visit defined URL
driver.get('https://amazon.in')

In [37]:
#input command in search bar
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

#click on the search button
search_button=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [38]:
#selecting “Intel Core i7” processor filter on the page
filter_select=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
filter_select.click()

In [39]:
title=[]
price=[]

for i in driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]'): #scrapping title from the page
    title.append(i.text)
    
for k in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]'): #scrapping price data from the page
    price.append(k.text)

df2=pd.DataFrame({'Title':title, 'Price':price}) #converting scrapped data into dataframe
df2.index=np.arange(1,len(df2)+1) #inserting index numbers
df2.head(10) #slicing data to top 10 search results

                                                Title     Price
1   Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    62,990
2   Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,490
3   ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    56,585
4   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    87,990
5   Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    92,690
6   Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    84,990
7   ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    82,990
8   Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    94,990
9   ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  1,09,990
10  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  1,04,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [40]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [41]:
#get driver to visit defined URL
driver.get('https://www.ambitionbox.com/')

In [42]:
#click on the jobs option
jobs_click=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
jobs_click.click()

In [43]:
#input command in the search bar
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

#click on the search button
search_button=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_button.click()

In [44]:
#click on location icon
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]')
location.click()

#entering "Noida" in location search
place=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
place.send_keys('Noida')

In [45]:
#click the search button
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [46]:
company=[]
days=[]
rating=[]

for i in driver.find_elements(By.XPATH,'//span[@class="body-small-l"]'): #scrapping days posted data from page
    days.append(i.text)
del days[1:20:2] #deleting unwanted data

for j in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'): #scrapping company name from page
    company.append(j.text)
    
for k in driver.find_elements(By.XPATH,'//span[@class="body-small"]'): #scrapping rating from page
    rating.append(k.text)

dfff=pd.DataFrame({'Company Name':company, 'No. of Days posted':days, 'Rating':rating}) #converting scrapped data into dataframe
dfff.index=np.arange(1,len(dfff)+1) #inserting index numbers
dfff

                                      Company Name No. of Days posted Rating
1                          CBRE South Asia Pvt Ltd             8d ago    4.3
2                    GENPACT India Private Limited             1d ago    4.0
3                                          Genpact             3d ago    4.0
4         Ericsson India Global Services Pvt. Ltd.            18d ago    4.3
5                    GENPACT India Private Limited            11d ago    4.0
6   Optum Global Solutions (India) Private Limited            15d ago    4.1
7   Optum Global Solutions (India) Private Limited            16d ago    4.1
8         Ericsson India Global Services Pvt. Ltd.            28d ago    4.3
9                       SOPRA STERIA INDIA LIMITED            17d ago    4.2
10                EXL Services.com ( I ) Pvt. Ltd.            17d ago    3.9

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [47]:
#command to run chrome
driver=webdriver.Chrome(r'chromedriver.exe')

In [48]:
#get driver to visit defined URL
driver.get('https://www.ambitionbox.com/')

In [49]:
#salary option selection
salary_selection=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary_selection.click()

#drop down menu option selection
browser=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p')
browser.click()

In [51]:
#input command in the search bar
search=driver.find_element(By.XPATH,'//input[@class="tt-input"]')
search.send_keys('Data Scientist')

#selecting the desrired option from the drop down menu
search_click=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
search_click.click()

In [52]:
company=[]
exp=[]
bsal=[]
minsal=[]
avgsal=[]
maxsal=[]

for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]/a'): #scrapping company name from page
    company.append(i.text.split("\n"))
a=sum(company,[]) #merging all data in one list
del a[1:20:2] #delete unwated data from the list

for j in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'): #scrapping minimum salary data from page
    minsal.append(j.text)
del minsal[1:20:2] #delete unwated data from the list

for k in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'): #scrapping maximum salary data from page
    maxsal.append(k.text)
del maxsal[0:20:2] #delete unwated data from the list

for l in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'): #scrapping average salary data from page
    avgsal.append(l.text)

for m in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'): #scrapping experience data from page
    exp.append(m.text.split('('))
b=sum(exp,[]) #merging all data in one list
del b[1:20:2] #delete unwanted data from the list

for n in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]/span'): #scrapping based on no. of salaries from page
    bsal.append(n.text.replace('(','').replace(')',''))

df=pd.DataFrame({'Company Name':a, 'Experience':b, 'Based on Salaries':bsal, 'Min Salary':minsal, 'Avg Salary':avgsal, 'Max Salary':maxsal}) #converting scrapped data into dataframe
df.index=np.arange(1,len(df)+1) #inserting index numbers
df

,Company Name,Experience,Based on Salaries,Min Salary,Avg Salary,Max Salary
1,Walmart,3-4 yrs experience,based on 22 salaries,₹ 25.0L,₹ 31.7L,₹ 45.0L
2,Ab Inbev,2-4 yrs experience,based on 53 salaries,₹ 15.0L,₹ 19.7L,₹ 25.5L
3,Optum,2-4 yrs experience,based on 48 salaries,₹ 11.0L,₹ 16.5L,₹ 22.6L
4,ZS,1-2 yrs experience,based on 33 salaries,₹ 11.0L,₹ 15.7L,₹ 22.0L
5,Fractal Analytics,2-4 yrs experience,based on 109 salaries,₹ 9.0L,₹ 15.2L,₹ 23.0L
6,Tiger Analytics,2-4 yrs experience,based on 65 salaries,₹ 9.0L,₹ 14.7L,₹ 20.0L
7,Legato Health Technologies,4 yrs experience,based on 11 salaries,₹ 11.0L,₹ 14.5L,₹ 20.0L
8,Tredence,3 yrs experience,based on 12 salaries,₹ 8.8L,₹ 14.1L,₹ 17.5L
9,UnitedHealth,2-4 yrs experience,based on 91 salaries,₹ 8.0L,₹ 13.6L,₹ 20.5L
10,Ford Motor,3-4 yrs experience,based on 21 salaries,₹ 10.0L,₹ 13.5L,₹ 18.0L